<div class="container">
    <legend>Добавление информации и группах</legend>
    <form>
      <div class="mb-3">
        <label for="txtName" class="form-label">Преподаватель</label>
        <input
          type="text"
          name="userId"
          [(ngModel)] = "groupInfos.userId"
          class="form-control"
          id="userId"
          placeholder="userId"
          required
        />
      </div>
      <div class="mb-3">
        <label for="txtName" class="form-label">Язык</label>
        <input
          type="text"
          name="languageId"
          [(ngModel)] = "groupInfos.languageId"
          class="form-control"
          id="languageId"
          placeholder="languageId"
          required
        />
      </div>
      
      <button type="button" (click)="postGroupInfosAdd()" class="btn btn-primary">
        Update
      </button>
    </form>
  </div>
  