<nav>
  <a routerLink="/cabinet" routerLinkActive="active">Cabinets</a>
  <a routerLink="/groupinfo" routerLinkActive="active">Group Information</a>
  <a routerLink="/groupuser" routerLinkActive="active">Group Users</a>
  <a routerLink="/language" routerLinkActive="active">Language</a>
  <a routerLink="/role" routerLinkActive="active">Roles</a>
  <a routerLink="/timetable" routerLinkActive="active">Timetable</a>
  <a routerLink="/user" routerLinkActive="active">Users</a>
</nav>

<router-outlet></router-outlet>
