<div class="container" id="user-container">
  <div class="card">
    <div class="card-header">
      <h3>Информация о пользователях</h3>
      <a class="btn btn-primary" style="margin-right:20px" routerLink="/user/add">Добавить</a>
      <button class="btn btn-primary" (click)="downloadAsPDF();">Экспорт в PDF</button>
    </div>
    <div class="card--body" id="pdfTable" #pdfTable>
      <table class="table table-hover">
        <thead align="center">
          <th>ID</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Отчество</th>
          <th>Роль</th>
          <th>Группа</th>
          <th>Староста?</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor = "let user of vusers" class="text-center">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.patronymic }}</td>
            <td>{{ user.rolename }}</td>
            <td>{{ user.groupname }}</td>
            <td><input type="checkbox" checked = {{user.headman}} readonly disabled/></td>
            <td>
              <button class="btn btn-warning" [routerLink]="['/user/edit', user.id]">Изменить</button>
              <button class="btn btn-danger" (click)="openDeleteModal(user.id)">Удалить</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Удалить</button>
      </div>
    </div>
  </div>
</div>