<p>user works!</p>

<div class="container" id="user-container">
  <div class="card">
    <div class="card-header">
      <h3>User Manage</h3>
    </div>
    <div class="card--body">
      <table class="table table-hover">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Lastname</th>
          <th>Patronymic</th>
          <th>roleId</th>
          <th>isHeadman</th>
        </thead>
        <tbody>
          <tr *ngFor = "let user of users" class="text-center">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.patronymic }}</td>
            <td>{{ user.roleId }}</td>
            <td>{{ user.isHeadman }}</td>
            <td>
              <button class="btn btn-warning">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
