<div class="container">
    <legend>Изменение информации</legend>
    <form>
      <div class="mb-3">
        <label for="txtName" class="form-label">Дата</label>
        <input
          type="datetime-local"
          name="data"
          [(ngModel)] = "timeTables.data"
          class="form-control"
          id="data"
          placeholder="Date"
          required
        />
      </div>
      <div class="mb-3">
        <label for="txtPrice" class="form-label">Группа</label>
        <input
          type="text"
          name="groupId"
          [(ngModel)] = "timeTables.groupId"
          class="form-control"
          id="groupId"
          placeholder="GroupId"
          required
        />
      </div>
      
      <button type="button" (click)="postTimeTablesAdd()" class="btn btn-primary">
        Добавить
      </button>
    </form>
  </div>
  